<tr>
  <td><%= link_to park.parkname, park %></td>
  <td><span class=<%= colorize(park.evaluation) %>><%= display_grade(park.evaluation) %></span></td>
  <td><%= "#{park.acreage}" %></td>
  <% if signed_in_user? %>
    <td>
      <%= favorite_link(park) %>
    </td>
  <% end %>
</tr>
