<li>
  <%= link_to park.parkname, park %>
  |
  <span class=<%= colorize(park.evaluation) %>><%= park.evaluation ? "(#{park.evaluation})" : "n/a" %></span>
  |
  <%= "#{park.acreage} acres" %>
  |
  <%= favorite_link(park) %>
</li>
