<h1><%= @park.parkname %></h1>

<p><%= favorite_link(@park) if signed_in_user? %></p>

<%#= image_tag map_url_builder(@park) %>

<% if @park.location_coordinates %>
  <%= render partial: 'shared/google_map', locals: { park: @park } %>
<% else %>
  <p>No map data available for this park. :(</p>
<% end %>

<ul>
  <li>Acreage: <%= @park.acreage %></li>
  <li>Park Type: <%= @park.parktype %></li>
  <li>Supervisor District: <%= @park.supdist %></li>
  <li>Zipcode: <%= @park.zipcode %></li>
  <li>Grade: <%= display_grade(@park.evaluation) %></li>
</ul>
