<%= form_tag parks_path, method: 'get', class: "form-inline" do %>
  <%= text_field_tag :query, params[:query], placeholder: 'Enter a zipcode', class: "form-control" %>

  <%= submit_tag "Search", class: "form-control" %>

  <p>
    <%= check_box_tag :eval_present, true %>
    <%= label_tag :eval_present, 'only parks with grades' %>
  </p>
  <p>
    <%= check_box_tag :desc_acreage, true %>
    <%= label_tag :desc_acreage, 'sort by descending acreage' %>
  </p>
  <p>
    <%= check_box_tag :desc_grades, true %>
    <%= label_tag :desc_grades, 'sort by descending grades' %>
  </p>
<% end %>
